:root {
  font-family: 'Roboto', sans-serif;
  max-width: 1360px;
  background: #bdd4e7;
  padding: 40px 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  align-items: center;
}